
<div class="generation">
    <div class="btn-container">
        <a (click)="generateItems(10)" class="btn">GENERATE</a>
    </div>
    <div *ngFor="let i of items" [@appear] class="item">
        <div *ngIf="i.uniqueName" class="unique">{{i.uniqueName}}</div>
        <div class="name">{{ i.name }} <span class="price tooltip" >
            {{i.price.compute() | number: '1.0-2'}} or
            <span class="tooltip-text" [innerHTML]="i.price.detail()"></span>
        </span></div>
        <div>
            <span class="stat" *ngFor="let stat of i.stats | keyvalue">{{i.getStatString(stat.key)}}</span>
        </div>
        <div class="power">
            {{i.powers.join(', ')}}
        </div>
        <div class="tag">
            [ {{i.tags.join(' | ')}} ]
        </div>
    </div>
</div>
