.generation {
    text-align: center;
    height: calc(100% - 161px);
    padding: 60px;
    font-size: 30px;

    .btn-container {
        margin-bottom: 50px;
        select {
            font-size: 30px;
        }
    }
    .line {
        padding-bottom: 5px;
    }
}